body {
  background-color: yellow; 
  color: green; 

}

a {
  background-color: white; 
  color: inherit; 
  text-decoration: none; 
}


h1 {
  font-family: 'Times New Roman', serif; 
  background-color: white; 
  color: green; 
}