body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #1e3c72, #1e3c72);
  color: #fff;
  font-family: 'Arial', sans-serif;
}
#clock{
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  padding: 20px 40px;
  border: 2px solid #fff;
  border-radius: 15px;
  background: rgba(0,0,0,0.3);
  box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}